i{
  display: inline-block;
  font-size: 12px;
  color:rgba(0,0,0,0.45);
  .arrow {
  z-index: 1;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: rgba(0,0,0,0.25);
  font-size: 12px;
  line-height: 12px;
}
}

